.cardGroup h2 {
  background: linear-gradient(0deg, rgba(86, 204, 242, 1) 0%, rgba(84, 125, 244, 1) 50%, rgba(83, 52, 245, 1) 100%);
  background-clip: text;
  font-size: 60px;
  font-weight: bold;
  margin: 50px 20px;
  text-align: center;
  /* gradient text colours */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardGrid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 15px 40px 100px;
}

@media (max-width: 1080px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}